/**
* 复写样式
**/
.mdui-typo-display-2.mdui-icon::before {
	font-size: 45px;
}

.fullYearPicker{
	margin-top: 10px;
	-webkit-user-select: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.fullYearPicker .month-container{
	min-width: 400px;
	float: left;
	margin-top: 5px;
}
.fullYearPicker .date_clear{
	clear: both;
}

.fullYearPicker div.year {
	text-align: center;
	font-size: 22px;
	color: #aaa;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	border:1px #ddd solid;
}

.fullYearPicker div.year a {
	color: #B2DFDB;
}


.fullYearPicker div.year a.next {
	margin-right: 0;
}

.fullYearPicker .year table{
	width: 100%;
	height: 45px;
}
.fullYearPicker .year table tr th{
	text-align: center;
	font-weight: bolder;
}
.fullYearPicker .year table tr th:hover{
	background: #eee;
}

.fullYearPicker .year table .year-operation-btn{
	width: 40px;
}

.fullYearPicker .year table .year_btn{
	cursor:pointer;
}

.fullYearPicker .year table .left_sencond_year,.fullYearPicker .year table .right_sencond_year{
	color: #ddd;
}
.fullYearPicker .year table .left_first_year,.fullYearPicker .year table .right_first_year{
	color: #B2DFDB;
}

@media only screen and (max-width: 640px){
	.fullYearPicker .year table .left_first_year,.fullYearPicker .year table .right_first_year{
		display: none;
	}
}

@media only screen and (max-width: 1024px){
	.fullYearPicker .year table .left_sencond_year,.fullYearPicker .year table .right_sencond_year{
		display: none;
	}
}

.fullYearPicker .picker table {
	border: 1px solid #4DB6AC;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 20%;
}

.fullYearPicker table th.head {
	text-align: center;
	line-height: 20px;
	cursor:pointer;
	background: #4DB6AC;
	color: #fff;
}

.fullYearPicker table td {
	background: #fff;
	text-align: center;
	/*line-height: 13px;*/
	cursor: pointer;
	padding: 5px;
	margin: 1px;
	border: 1px double #80CBC4;
}

.fullYearPicker .picker table .able_day:hover{
	background: #80CBC4;
	color: #fff;
	border-radius: 2px;
}


.fullYearPicker table th {
	padding: 10px 15px;
	font-weight: bolder;
}

.fullYearPicker table td.weekend,.fullYearPicker table th.weekend {
	color: #4DB6AC;
 border: 1px dotted #4DB6AC;
}

.fullYearPicker table td.disabled {


}

.mdui-textfield-search{
	transform: scale(1);
	position: absolute;
	top: 0;
	right: 0;
}

/*ѡ����ʽ */
.fullYearPicker table td.selected {
	background: #ccc;
}

/*����ʱ������ʽ */
.fullYearPicker table td.workday,.fullYearPicker table td.freeday,.fullYearPicker table td.lawday,.fullYearPicker table td.tradeday{
	color:#fff;
}
/*.fullYearPicker table td.able_day */
.fullYearPicker table td.workday{
	background:#B2DFDB;
}
/*�ǹ����յ���ʽ */
/*.fullYearPicker table td.weekend */
.fullYearPicker table td.freeday{
	background:#5cb85c;
}
/*.fullYearPicker table td.weekend[class$='empty'] {
	background:#fff;
}*/
/*�Ƕ����յ���ʽ */
.fullYearPicker table td.lawday {
	background:#5cb85c;
}
/*�����յ���ʽ */
.fullYearPicker table td.tradeday {
	background:#CEFFCE;
}

.fullYearPicker table td.empty {
	text-decoration: none;
	cursor: default
}

.fullYearPicker br {
	clear: both
}

.month-width-1{
	width: 100%;
}
.month-width-2{
	width: 50%;
}
.month-width-3{
	width: 33.33%;
}
.month-width-4{
	width: 25%;
}
.month-width-6{
	width: 16.66%;
}




/*��Ϣ������*/
.hd_info_modal label{
	float: left;
	width: 50px;
	text-align: left;
	height: 40px;
	line-height: 40px;
	color: #808080;
	font-weight: 100;
}

.hd_info_modal .am-modal-hd{
	border-bottom: 2px solid #B2DFDB;
}

body .hd_info_modal .radius{
	border-radius:5px;
}
.hd_info_modal .hd-type-select{
	float:left;
}

.hd_info_modal .am-selected{
	width: 180px;
}

.hd-work-date{
	float: left;
}
.hd_info_modal .am-form-group{
	float: left;
	width: 180px;
}
.hd_info_modal .hd-work-block{
	width: 235px;
	float: left;
	margin-bottom: 10px;
}
.hd_info_modal .hd-work-btns{
	float: right;
}
.hd_info_modal form{
	margin-top: 50px;
}
.hd_info_modal .stone{
	clear: both;
}
